
<main class="page">
  <section class="infopage">
    <article class="information"><a href="personal.html">PERSONAL INFORMATION </a></article>
    <article class="information active"><a href="account.html">ACCOUNT INFORMATION</a></article>
  </section>
  <section class="account">
    <article class="infoblock">
      <div class="item">
        <p class="title">Username</p>
        <form action="">
          <input class="holder" type="text" placeholder="sarahbarnez"/>
        </form>
      </div>
    </article>
    <article class="infoblock">
      <div class="item-left">
        <p class="title">E-mail</p>
        <form action="">
          <input class="holder" type="text" placeholder="sarah228@gmail.com"/>
        </form>
      </div>
      <div class="item-left">
        <article class="change">
          <div class="change-password"><a href="#">CHANGE PASSWORD ></a></div>
        </article>
      </div>
    </article>
  </section>
</main>