section.sidebar
  aside.sidebar-logo
    div: img.image(src="../../images/Logo.svg")
  aside.sidebar-tools
    span.sidebar-tools__item: img(src="../../images/find.svg")
    span.sidebar-tools__item: img(src="../../images/user.svg")
    span.sidebar-tools__item: img(src="../../images/messages.svg")
    span.sidebar-tools__item--active: img(src="../../images/icon-3.svg")