section.sidebar
  aside.sidebar-logo
    div: img.image(src="./images/logo.svg")
  aside.sidebar-tools
    span.sidebar-tools__item: img.image(src="./images/Vector.svg")
    span.sidebar-tools__item: img.image(src="./images/myprofile.svg")
    span.sidebar-tools__item: img.image(src="./images/handyman-tools.svg")
    span.sidebar-tools__item: img.image(src="./images/team-2.svg")
    span.sidebar-tools__item--active: img.image(src="./images/messages.svg")
